<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalhe">
            <h2><span jhiTranslate="jHipsterMonolithicApp.detalhe.detail.title">Detalhe</span> {{detalhe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jHipsterMonolithicApp.detalhe.nome">Nome</span></dt>
                <dd>
                    <span>{{detalhe.nome}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterMonolithicApp.detalhe.data">Data</span></dt>
                <dd>
                    <span>{{detalhe.data}}</span>
                </dd>
                <dt><span jhiTranslate="jHipsterMonolithicApp.detalhe.mestre">Mestre</span></dt>
                <dd>
                    <div *ngIf="detalhe.mestre">
                        <a [routerLink]="['/mestre', detalhe.mestre?.id, 'view']">{{detalhe.mestre?.descricao}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalhe', detalhe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
